;;
description = "Footer Partial"
==
{##}
{# Footer Start #}
<footer id="footer" class="footer section">
    <div class="container">
        <div class="footer-btm py-3">
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        Created by <a class="jagulogo-jagu-line" href="http://jagu.cz/">Jagu s.r.o.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{# Footer Close #}