;;
description = "Header with TopBar and Navigation"
==
{##}
{# Header Start #}
<header class="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 text-center text-lg-right text-md-right my-2">
                    <div class="header-top-info">
                        {% if this.theme.contact_phone %}
                            <a href="tel:{{ this.theme.contact_phone }}">
                                <i class="fa fa-phone mr-2"></i><span>{{ this.theme.contact_phone }}</span>
                            </a>
                        {% endif %}
                        {% if this.theme.contact_email %}
                            <a href="mailto:{{ this.theme.contact_email }}">
                                <i class="fa fa-envelope mr-2"></i><span>{{ this.theme.contact_email }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{{ 'home'|page }}">
                {% if this.theme.company_logo %}
                    <img src="{{ this.theme.company_logo.getPath() }}"
                         alt="{{ this.theme.company_logo.title }} - {{ this.theme.company_logo.description }}"
                    >
                {% endif %}
                <span>{{ this.theme.company_first_name }}<span>{{ this.theme.company_last_name }}</span></span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ 'home'|page }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{{ 'about'|page }}">Our company</a></li>
                            <li><a class="dropdown-item" href="{{ 'pricing'|page }}">Pricing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ 'services'|page }}">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ 'portfolio'|page }}">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ 'blog'|page }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ 'contact-us'|page }}">Contact</a></li>
                </ul>

                <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                    <a href="{{ 'contact-us'|page }}" class="btn btn-solid-border btn-round-full">Get a Quote</a>
                </form>
            </div>
        </div>
    </nav>
</header>
{# Header Close #}