;;
description = "Header with TopBar and Navigation"
==
{##}
{# Header Start #}
<header class="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 text-center text-lg-right text-md-right my-2">
                    <div class="header-top-info">
                        {% if this.theme.contact_phone %}
                            <a href="tel:{{ this.theme.contact_phone }}">
                                <i class="fa fa-phone mr-2"></i><span>{{ this.theme.contact_phone }}</span>
                            </a>
                        {% endif %}
                        {% if this.theme.contact_email %}
                            <a href="mailto:{{ this.theme.contact_email }}">
                                <i class="fa fa-envelope mr-2"></i><span>{{ this.theme.contact_email }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{{ 'home'|page }}">
                {% if this.theme.company_logo %}
                    <img src="{{ this.theme.company_logo.getPath() }}"
                         alt="{{ this.theme.company_logo.title }} - {{ this.theme.company_logo.description }}"
                    >
                {% endif %}
                <span>{{ this.theme.company_first_name }}<span>{{ this.theme.company_last_name }}</span></span>
            </a>

            <button class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExample09"
                    aria-controls="navbarsExample09"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    {% for item in staticMenu.menuItems %}
                        <li class="nav-item {% if item.isActive %}active{% endif %}">
                            <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{# Header Close #}