html {
    position: relative;
    min-height: 100%;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#navbar {
    .navbar-brand {
        span {
            margin-top: .5rem;
        }

        img {
            margin-right: .5rem;
            height: 2rem;
        }
    }

    .nav-item {
        &.active {
            .nav-link {
                color: #8DBB44
            }
        }
    }

    .dropdown-menu {
        li {
            &.active {
                a {
                    background: #8DBB44;
                    color: #FFFFFF;
                }
            }
        }
    }
}

#footer {
    width: 100%;

    &.footer {
        padding-bottom: 0;
        margin-bottom: 5px;

        .copyright {
            font-size: small;

            .jagulogo-jagu-line {
                &:before {
                    font-size: 150%;
                    margin: 0 5px;
                    top: 5px;
                    position: relative;
                }
            }
        }
    }
}

section {
    &.section {
        padding: 50px 0;
    }
}

// blocks
.section-title {
    text-align: center;
    margin-bottom: 50px;

    h3 {
        color: #8DBB44;
    }
}

.pagetitle {
    h1 {
        margin-top: 2rem;
    }
}

.pagebanner {

}

.editor {
    .editor-item {
        h1, h2, h3, h4, h5, h6 {
            color: #8DBB44;
        }
    }
}

.products {
    a {
        .card {
            color: #6C757D;

            h5 {
                color: #8DBB44;
            }

            &:hover {
                @extend .box-shadow;
                color: #6C757D;
            }

            .card-img-top {
                width: 100%;
                padding-bottom: 80%; // 5/4 aspect ratio
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }
}

.gallery {
    .portflio-item {
        .img-fluid {
            width: 100%;
            padding-bottom: 80%; // 5/4 aspect ratio
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &:hover {
            .portfolio-item-content {
                bottom: 10px;
                right: 10px;
                left: 10px;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.technologies {
    .technology-icon {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    h4 {
        color: #8DBB44;
    }
}


.services {
    .about-item-img {
        width: 100%;
        padding-bottom: 56.25%; // 3:2 aspect ratio
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.downloads {
    .card {
        .card-footer {
            background-color: #fff;
            border-top: none;
        }
    }
}

.contact {
    .address-block {
        .address-block-title {
            font-weight: bold !important;
        }
    }
}

