#navbar {
    .navbar-brand {
        span {
            margin-top: .5rem;
        }

        img {
            margin-right: .5rem;
            height: 2rem;
        }
    }
}

.footer {
    .copyright {
        font-size: small;
        .jagulogo-jagu-line {
            &:before {
                font-size: 150%;
                margin: 0 5px;
                top: 5px;
                position: relative;
            }
        }
    }
}