#navbar {
    .navbar-brand {
        span {
            margin-top: .5rem;
        }

        img {
            margin-right: .5rem;
            height: 2rem;
        }
    }
}

#footer {
    &.footer {
        padding: 0;
        margin-bottom: 5px;

        .copyright {
            font-size: small;

            .jagulogo-jagu-line {
                &:before {
                    font-size: 150%;
                    margin: 0 5px;
                    top: 5px;
                    position: relative;
                }
            }
        }
    }
}

section {
    &.section {
        padding: 50px 0;
    }
}

// blocks
.pagetitle {
    h1 {
        margin-top: 2rem;
    }
}

.contact {
    .address-block {
        .address-block-title {
            font-weight: bold !important;
        }
    }
}
