description = "Downloads"

[viewBag]
==
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            {% for item in data.files %}
                <div class="col-md-4">
                    <div class="card text-center mb-md-0 mb-3 h-100">
                        <div class="card-body py-5">
                            <div class="pricing-header">
                                <h3>{{ item.title }}</h3>
                                <p class="text-muted">{{ item.description|raw }}</p>
                            </div>
                            <a href="{{ item.file|media }}"
                               class="btn btn-small btn-solid-border btn-round-full"
                               download
                            >
                                <i class="fa fa-download"></i>
                                Stáhnout
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>