description = "Editor"

[viewBag]
==
<div class="editor">
    <section class="section" style="background-color: {{ data.background }}">
        <div class="container">
            <div class="w-100">
                <div class="row">
                    {% for editor in data.editors %}
                        {% set editorSize = 'col-lg-12 col-md-12' %}
                        {% if editor.size %}
                            {% set editorSize = editor.size %}
                        {% endif %}
                        <div class="{{ editorSize }}">
                            <div class="editor-item w-100">
                                {{ editor.editor|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>