description = "Máte zájem?"

[viewBag]
==
<section class="section interest">
    <div class="container">
        <div class="cta-block mt-5 p-5 rounded" style="background-image: url({{ 'assets/images/contact-us.jpg'|theme }})">
            <div class="row justify-content-center align-items-center ">
                <div class="col-lg-7">
                    <span class="text-color">{{ data.text }}</span>
                    <h2 class="mt-2 text-white">{{ data.title }}</h2>
                </div>
                <div class="col-lg-4">
                    <a href="{{ data.link }}"
                       class="btn btn-main btn-round-full float-lg-right float-md-right float-sm-right"
                    >
                        Kontaktuje nás
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>