description = "Page banner"

[viewBag]
==
<section class="page-title bg-1" style="background-image: url('{{ data.background|media }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">{{ data.subtitle }}</span>
                    <h1 class="text-capitalize mb-4 text-lg">{{ data.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>